<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="http://placehold.it/300x200"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit();">
      <ion-row>
        <ion-col>
              <ion-input formControlName="email" type="email" placeholder="Email" [class.invalid]="isNotEmpty(formErrors.email)"></ion-input>
            <div class="form__warning" *ngIf="isNotEmpty(formErrors.email)">{{formErrors.email[0]}}</div>
            
              <ion-input formControlName="password" type="password" placeholder="Password" [class.invalid]="isNotEmpty(formErrors.password)"></ion-input>
            <div class="form__warning" *ngIf="isNotEmpty(formErrors.password)">{{formErrors.password[0]}}</div>
            
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit">Entrar</button>
        </ion-col>
      </ion-row>
    </form>
    <button ion-button class="register-btn" block clear (click)="register()">Criar Nova Conta</button>
    <button ion-button class="submit-btn" (click)='facebookLogin();'> Facebook </button>
    <button ion-button class="submit-btn" (click)='googleLogin();'> Google </button>
  </div>
</ion-content>
