page-register {

  .no-scroll .scroll-content{
    overflow: hidden;
  }
  
  .login-content {

    .logo-row {
      padding-top: 20px;
    }

    .login-box {
      padding: 1px 20px 0px 20px;
      margin-top: 30px;
    }

    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }


     ion-input{
        border: 1px solid;
        border-radius: 10px;
        box-shadow: 1px 1px 1px;
     }

     .submit-btn{
        border-radius: 10px !important;
        border: 1px solid #ffffff;
        box-shadow: 1px 1px 1px;
     }


     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }

     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
  }
}
