<ion-content padding no-bounce class="modal">
  <div class="modal__gas-station">
    <div class="title"> {{gasStation.name}} </div>
    <div class="subtitle"> {{gasStation.vicinity}} </div>
    <div class="stars">
      <div class='star' *ngFor="let star of stars"></div>
      <div class='small-star-empty' *ngFor="let emptyStar of emptyStars"></div>
      <div class="reputation" *ngIf='gasStation.reputation'> {{parseFloatValue(gasStation.reputation)}} </div>
      <div class="reputation" *ngIf='!gasStation.reputation'> Sem avaliações </div>
    </div>
    <div *ngIf="gasStation.boycotted" class="boycotted"> BOICOTADO<ion-icon style="color:black;margin-left:2%;font-size:20px;" (click)="presentBoycottedInfoAlert();" name="ios-information-circle"></ion-icon></div>
    <ion-list class="prices">
      <ion-item>Gasolina: R$ {{parseFloatValue(gasStation.gas_price)}} </ion-item>
      <ion-item>Álcool: R$ {{parseFloatValue(gasStation.alcohol_price)}} </ion-item>
      <ion-item>Diesel: R$ {{parseFloatValue(gasStation.diesel_price)}} </ion-item>
    </ion-list>
  </div>
  
    <!-- <ion-item>
      <ion-icon name="wine" item-left large ></ion-icon>
      <h2>Institute of Fine Cocktails</h2>
      <p>14 S. Hop Avenue, Madison, WI 53703</p>
    </ion-item> -->
  
  <div class="navigation">
    <button (click)='openNavigationApps()' ion-button icon-left clear>
      <ion-icon name="navigate"></ion-icon>
      Começar navegação
    </button>

    <div>{{gasStation.navigation_duration}} ({{gasStation.navigation_distance}})</div>
  </div>

  <div class="modal__answer">
    <button ion-button class="button" (click)="dismiss();"> Fechar </button>
  </div> 
</ion-content>