ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
 
home-page {
 
    .search-place {
        padding-top: 20%;
    }

    .search-place {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    #map {
        height: 100%;
        width: 100%;
    }
 
}