ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
 
home-page {

    #map {
        height: 100%;
        width: 100%;
        background: #fff;
    }

    #map_canvas{
        background: #fff;
    }

    .search-place {
        padding-top: 20%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
 
}