fuel-supply-creation-page {
  .modal .scroll-content{
    overflow: hidden;
  }
  
  .modal {

  }

  .modal__title {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    font-size: 30px;
  }
  .modal__gas-station{
    margin-top: 10%;
    text-align: center;
    .title {
      font-size: 20px;
    }
    .subtitle {
      font-size: 11px;
    }
    .prices {
      margin-top: 10%;
      .edit-icon {
        float: right;
      }
    }
  }

  .modal__answer {
    align-items: center;
    text-align: center;
    .button {
      font-size: 20px;
    }
  }

  .modal_update-prices {
    text-align: center;
    margin-top: 20%;
    .button {
      font-size: 20px;
    }
  }
}