at-gas-station-page {

  .modal {

  }

  .modal__title {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    font-size: 30px;
  }

  .modal__gas-station{
    margin-top: 10%;
    text-align: center;
    .title {
      font-size: 20px;
    }
    .subtitle {
      font-size: 11px;
    }
    .prices {
      margin-top: 10%;
      .edit-icon {
        float: right;
      }
    }

    .stars {
      margin-top: 5%;
      .reputation {
        font-size: 11px;
      }
    }

    .star, .small-star-empty {
      display: inline-block;
      height: 17px;
      width: 17px;
      background: url("../../assets/images/star.svg");
      background-size: cover;
      // background-color: black;
      margin: 1px;
    }
    .small-star-empty {
      background: url("../../assets/images/empty-star.svg");
      background-size: cover;
      // background-color: blue;
    }
  }

  .modal__answer {
    text-align: center;
    .button {
      font-size: 20px;
    }
  }

  .modal_update-prices {
    text-align: center;
    margin-top: 20%;
    .button {
      font-size: 20px;
    }
  }
}